@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-schoolbg {
    background-size: cover;
}
.bg-acsbg {
    background-size: cover;
}
.bg-historybg {
    background-size: cover;
}
.bg-missionbg {
    background-size: cover;
}
.bg-philosophybg {
    background-size: cover;
}
.bg-policybg {
    background-size: cover;
}
.bg-enrollbg {
    background-size: cover;
}
.bg-curriculumbg {
    background-size: cover;
}
.bg-marketbg {
    background-size: cover;
}
.bg-environmentbg {
    background-size: cover;
}
.bg-staffbg {
    background-size: cover;
}

